#div1{
    border:2px solid red;
    padding: 3px;
    margin: 5px;
}
#div2{
    border:2px solid red;
    padding: 3px;
    margin: 5px;
}
#div3{
    border:2px solid red;
    padding: 3px;
    
}